include src/birg/containers/Dockerfile
include src/birg/recipes/meta.yaml
include src/birg/recipes/template_build_cmake.sh
include src/birg/recipes/template_build_autoreconf.sh
include src/birg/recipes/template_build_python.sh
